<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quiz.quizclient">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- permiso a internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizClient"
        android:usesCleartextTraffic="true">
        <activity android:name=".VerRepasos"></activity>
        <activity android:name=".VerTarjetas" />
        <activity
            android:name=".CreaTarjeta"
            android:parentActivityName=".Menu" />
        <activity android:name=".Repasar" />
        <activity
            android:name=".Perfil"
            android:parentActivityName=".Menu" />
        <activity android:name=".Juego" />
        <activity
            android:name=".Registro"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.QuizClient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>